<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Welcome to Book Reviewer!</title>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <h1>Welcome!</h1>
    </div>
    <div class="login_reg">
      <h2>Register</h2>
      <form action="register" method="post">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter Name">
        <label>Alias:</label>
        <input type="text" name="alias" placeholder="Enter Alias">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter Email">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password">
        <p>* Password should be at least 8 characters</p>
        <label>Password Confirmation:</label>
        <input type="password" name="pw_confirm" placeholder="Confirm Password">
        <button type="submit">Register</button>
      </form>
    </div>
    <div class="login_reg">
      <h2>Login</h2>
      <form action="login" method="post">
        {% csrf_token %}
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter Email">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password">
        <button type="submit">Login</button>
      </form>
    </div>
    <div id="errors">
      {% if messages %}
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</body>

</html>
