<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login & Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Login & Regstration</h1>
      <div class="register">
        <form action="/register" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Register</legend>
            <table>
              <tr>
                <td><label for="first_name">First Name:</label></td>
                <td><input id="first_name" type="text" name="first_name"></td>
              </tr>
              <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td><input id="last_name" type="text" name="last_name"></td>
              </tr>
              <tr>
                <td><label for="email">Email:</label></td>
                <td><input id="email" type="email" name="email"></td>
              </tr>
              <tr>
                <td><label for="password">Password:</label></td>
                <td><input id="password" type="password" name="password"></td>
              </tr>
              <tr>
                <td><label for="pw_confirm">Confirm Password:</label></td>
                <td><input id="pw_confirm" type="password" name="pw_confirm"></td>
              </tr>
            </table>
            <button type="submit">Register</button>
          </fieldset>
        </form>
      </div>
      <div class="login">
        <form action="/login" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Login</legend>
            <table>
              <tr>
                <td><label for="email">Email:</label></td>
                <td><input id="email" type="email" name="email"></td>

              </tr>
              <tr>
                <td><label for="password">Password:</label></td>
                <td><input id="password" type="password" name="password"></td>
              </tr>
            </table>
            <button type="submit">Login</button>
          </fieldset>
        </form>
      </div>
      {% if messages %}
        {% for message in messages %}
          <p class="red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
