body {
  font-family: arial;
}

.float {
  float: right;
  margin: 20px 20px 0 0;
}

h1 {
  display: inline-block;
}

table {
  border-collapse: collapse;
  display: block;
  overflow-y: scroll;
  height: 200px;
  width: 650px;
}

td, th {
  padding: 5px;
}

th {
  background-color: lightgrey;
}

.wishlist, .otherslist {
  height: 250px;
}
