body {
  font-family: arial;
}

.center {
  text-align: center;
}

.links {
  font-weight: bold;
  padding: 20px;
  text-align: right;
}

table {
  border: 1pt solid black;
  border-collapse: collapse;
  display: block;
  overflow-y: scroll;
  height: 200px;
  width: 750px;
}

td, th {
  padding: 10px;
}

th {
  background-color: lightgrey;
}

.wishlist, .otherslist {
  margin-left: 40px;
}
