a {
  float: right;
  margin: 20px 20px 0 0;
}

body {
  font-family: arial;
}

h1 {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

th {
  background-color: lightgrey;
}
