body {
  font-family: arial;
}

button {
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0 20px 350px;
}

.container {
  text-align: center;
}

.danger {
  color: red;
}

input {
  margin: 20px;
  padding: 5px;
  width: 250px;
}

.login, .register {
  display: inline-block;
  margin: auto 40px;
  text-align: left;
  vertical-align: top;
  width: 500px;
}
