<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Welcome to Zerk!!!</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron container text-center">
      <h1>Zerk</h1>
      <h2>Login & Registration</h2>
    </div>
    <div class="row">
      <div class="col">
        <h2>Login</h2>
        <form class="" action="/login" method="post">
          {% csrf_token %}
          <label>Email: </label>
          <input type="email" name="email" placeholder="Enter email">
          <label>Password: </label>
          <input type="password" name="password" placeholder="Enter password">
          <button class="btn btn-outline-primary" type="submit">Login</button>
        </form>
        {% if messages %}
        <div class="alert alert-danger">
          <strong>ALERT!</strong>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <h2>Registration</h2>
        <form class="" action="/register" method="post">
          {% csrf_token %}
          <label for="">First Name: </label>
          <input type="text" name="first_name" placeholder="Enter first name">
          <label for="">Last Name: </label>
          <input type="text" name="last_name" placeholder="Enter last name">
          <label>Email: </label>
          <input type="email" name="email" placeholder="Enter email">
          <label>Password: </label>
          <input type="password" name="password" placeholder="Enter password">
          <label>Confirm Password: </label>
          <input type="password" name="pw_confirm" placeholder="ReEnter password">
          <button class="btn btn-outline-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
