<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Zerk Home</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/new.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron container text-center">
      <h1>Legend of Zerk</h1>
      <h2>The Crappy Saga</h2>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <h3>Please Customize Your Character</h3>
        <form action="/create" method="post">
          {% csrf_token %}
          <label>Character Name: </label>
          <input type="text" name="name">
          <label>Sex: </label>
          <input class="mr-2" type="radio" name="sex" value="male">Male
          <input class="ml-2 mr-2" type="radio" name="sex" value="female">Female
          <label>Choose Race: </label>
          <select name="race">
            <option value="elf">Elf</option>
            <option value="human">Human</option>
            <option value="ork">Ork</option>
            <option value="wizard">Wizard</option>
          </select>
          <button class="btn btn-primary" type="submit"><h4>Create Character</h4></button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
