a {
  display: block;
}

.alert {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
}

.bold {
  font-size: 1.2em;
  font-weight: bold;
}

#formModal button, textarea{
  display: block;
  margin-top: 20px;
}

.clock {
  display: block;
  padding: 20px;
  text-align: center;
}

form {
  display: inline-block;
}

.main {
  margin-left: 15px;
}

#myModal{
  height: 750px;
}


.points {
  border-top: 1pt solid darkgrey;
  display: block;
  padding: 20px;
  text-align: center;
}

select {
  border-radius: 5px;
  margin:25px 0 0 50px;
}

.select {
  height: 90px;
  vertical-align: middle;
}

.table-responsive {
  height: 500px;
  margin-top: 40px;
  overflow-y: scroll;
}

.user {
  background-color: lightgrey;
  height: 150px;
  text-align: center;
}

.window_head{
  margin: 40px 0 20px 50px;
}
