<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Users</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div id="wrapper">
    <h1>Users</h1>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
      {% for user in users %}
      {% if user %}
      <tr>
        <td>{{ user.first_name}}</td>
        <td>{{ user.last_name}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</body>

</html>
