<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Amagon</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  <div class="container">
    <div class="jumbotron container text-center">
      <h1 class="display-2">Amagon</h1>
      <h4 class="display-4">Online Shopping</h4>
    </div>
    <div class="row">
      <div class="col">
        <h4>Login</h4>
        <form action="login" method="post">
          {% csrf_token %}
          <label for="email">Email:</label>
          <input id="email" type="email" name="email">
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
          <button class="btn btn-outline-primary font-weight-bold" type="submit">Login</button>
        </form>
        {% if messages %}
        <div class="alert alert-danger">
          <strong>ALERT!</strong>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col">
        <h4>Registration</h4>
        <form action="register" method="post">
          {% csrf_token %}
          <label for="first_name">First Name:</label>
          <input id="first_name" type="text" name="first_name">
          <label for="last_name">Last Name:</label>
          <input id="last_name" type="text" name="last_name">
          <label for="email">Email:</label>
          <input id="email" type="email" name="email">
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
          <label for="pw_confirm">Password Confirmation:</label>
          <input id="pw_confirm" type="password" name="pw_confirm">
          <button class="btn btn-outline-primary font-weight-bold" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
