<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <h1>User Home Page</h1>
    {% for message in messages %}
    <p class="text-success"> {{ message }}</p>
    {% endfor %}
    <table>
      <tr>
        <th class="th">ID</th>
        <th class="th">First Name</th>
        <th class="th">Last Name</th>
        <th class="th">Email</th>
      </tr>
      {% for user in users %}
      <tr>
        <td class="td">{{ user.id }}</td>
        <td class="td">{{ user.first_name }}</td>
        <td class="td">{{ user.last_name }}</td>
        <td class="td">{{ user.email }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="/"><button type="button">Go Back</button></a>
  </body>

</html>
