<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Item</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="links">
        <a href="/logout">Logout</a>
        <a href="/dashboard">Home</a>
      </div>
      <div class="body">
        <h1>Create a New Wish List Item</h1>
        <form action="/add" method="post">
          {% csrf_token %}
          <label for="item_name">Item/Product</label>
          <input type="text" name="item_name">
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
